<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- include('_base/head') -%>
  <body>
    <div class="wrap">
      <%- include('_base/header') -%>
      <main class="container">
        <%- body %>
      </main>
      <%- include('_base/footer') -%>
    </div>
    <%- include('_base/script') -%>
  </body>
</html>
