<div class="post">
  <article class="post-block">
    <h1 class="post-title"><%= page.title %></h1>
    <div class="post-info"><%= full_date(page.date, config.date_format) %></div>
    <div class="post-content">
      <%- include('_utils/toc') %>
      <%- page.content %>
      <%- include('_utils/license') %>
    </div>
  </article>
</div>
